$white: #f2f2f2;
$blue: #0071b0;
$lightBlue: #389ED7;
$darkBlue: #004a72;
$debateLightBlue: #02507a;
$debateDarkBlue: #0b2c3d;
$gray: #c4c4c4;
$transparentGray: #c4c4c498;
$green: #104232;
$red: #880005;