@use './footer.scss';
@use './nav.scss';
@use './team.scss';
@use './about.scss';
@use './debata.scss';

@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: $blue;
  background-color: $debateLightBlue;
  color: $white;
// tekstura linie skośne
  background-color: #02507a;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230b2c3d' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
// tekstura linie pionowe
background-color: #02507a;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%230b2c3d' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
// tekstura jodełka
background-color: #02507a;
background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%230b2c3d' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
// tekstura kółko i krzyżyk
background-color: #02507a;
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%230b2c3d' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
// tekstura zig-zag
background-color: #02507a;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%230b2c3d' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
// tekstura pepitka
background-color: #02507a;
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%230b2c3d' fill-opacity='0.17' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");
// tekstura krzyżyki
background-color: #02507a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230b2c3d' fill-opacity='0.17'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em auto 5em;
  text-transform: uppercase;
  img {
    width: 15vh;
    filter: brightness(80%);
    margin: 0 0 1em 0;
  }
  .title {
    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 900;
      letter-spacing: 4px;
      font-size: 2em;
      span {
        color: $gray;
      }
    }
  }
  .subtitle {
    padding: 1em 0 0 0;
    margin: 3em auto;
    border-top: 1px solid #c4c4c48a;
    text-align: center;
    h2 {
      font-weight: 300;
      letter-spacing: 8px;
      span {
        letter-spacing: initial;
      }
    }
  }
}
.new-season {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  color: $blue;
  text-transform: uppercase;
  padding: auto 2em;
  letter-spacing: 4px;
  h3 {
    padding: 3em 1em;
    font-weight: 900;
    text-align: center;
  }
  p {
    font-weight: 500;
    padding: 0 0 3em;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}
.info {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    h2 {
      text-align: center;
      text-transform: uppercase;
      margin: 3em auto 1em;
      font-size: 1.2em;
      font-weight: 900;
      letter-spacing: 6px;
    }
    p {
      padding: 1em;
      text-align: justify;
      line-height: 2em;
    }
  }
}
.hall {
  background-image: url(/img/hall.svg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 200px;
  margin: 4em 0 2em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.scene_element {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.scene_element--fadein {
  animation-name: fadeIn;
}

.scene_element--fadeinup {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.15s;
}
.scene_element--fadeinup2 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.scene_element--fadeinup3 {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.35s;
}

@media screen and (min-width: 700px) {
  main {
    img {
      display: none;
    }
    .title {
      margin-top: 80px;
      h1 {
        flex-direction: row;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 6em;
        font-size: 7vw;
        letter-spacing: 6px;
        color: $debateLightBlue;
        -webkit-text-stroke: 2px #f2f2f2;
        -webkit-text-stroke: 2px goldenrod;
        // text-shadow: 5px 5px 0px hsla(0, 0%, 95%, 0.3);
        span {
          -webkit-text-stroke: 0px;
          color: $debateLightBlue;
          color: $white;
          text-shadow: none;
        }
      }
    }
    .subtitle {
      width: 40%;
      border-top: 1px solid rgba(196, 196, 196, 0.541);
      border-top: 1px solid rgba(218, 165, 32, .54);
      font-size: 2em;
      font-size: 1vw;
      font-weight: 500;
      letter-spacing: 18px;
      text-transform: uppercase;

      padding: 1em;
      margin: 3em 0;
      text-align: center;
      display: flex;
      width: 60%;
    }
    span {
      letter-spacing: initial;
    }
  }
}

@media screen and (min-width: 900px) {
  .info {
    article {
      flex-direction: row;
      width: 70%;
      h2 {
        margin: auto 30px auto 30px;
      }
      p {
        padding: 2em 1em 0;
      }
    }
    .reverse {
      flex-direction: row-reverse;
    }
  }
}
